.map-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, #000000 0%, rgba(125, 125, 125, 0.9) 50%, rgba(255, 255, 255, 0.8) 100%);
}

#mapid {
    height: 500px;
}
/*
body {
    padding: 50px;
    padding-top: 5rem;
}*/
